*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
@font-face {
    font-family: Bulevar;
    src: url(./assets/fonts/Bulevar-font-desktop/Bulevar-Regular.otf) format('truetype');
}

body{
    visibility: hidden;
    font-family: Bulevar;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
.icon-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 14;
}
.logo{
    width: 5rem;
}
.bars-menu{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.bar{
    
    width: 1.5rem;
    height: 0.1rem;
    border-radius: 0.5rem;
    background-image: url(./assets/images/icons/texture-dark.jpg);
    position: absolute;
}
.bars-menu div:nth-child(1){
    top:18px;
    left: 12px;
}
.bars-menu div:nth-child(2){
    top:23px;
    left: 12px;
    opacity:1;
}
.bars-menu div:nth-child(3){
    top:28px;
    left: 12px;
}



/* -------------PRUEBA DE NAVBAR--------------------- */
.navbar-row{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 6rem;
    display: none;
    /* opacity: 0; */
    visibility: hidden;
    z-index: 12;
    margin: 0;
}
.navbar-bg{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background-image: url(./assets/images/icons/texture-dark.jpg);
    
}
.navbar{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    padding: 0;
}
.nav-open{
    display: flex;
}
.nav-list{
    display: inline-block;
}
.nav-list li{
    list-style: none;
    display: inline-block;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}


/* --------------- imagenes del navbar----------------------- */
.pictures{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pictures-container{
    position: relative;
}
.pic-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pic-size{
    width: 18rem;
    border-radius: 0.7rem;
    border: solid 2px black;
}
.pic1{
    transform: rotate(5deg);
}
.pic2{
    transform: rotate(-3deg);
}
.pic3{
    transform: rotate(5deg);
}
.pic4{
    transform: rotate(-3deg);
}
.text-color-active{
    color: #3D3D3D;
}

/* --------------- texto del navbar----------------------- */
/* .nav-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.words{
    position: relative;
    display: inline-block;

}
.nav-list ul{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.single-word{
    display: flex;
    overflow: hidden;
}
/* .first-word{
    margin-bottom: 0.2rem;
} */
.second-word{
    position: absolute;
    top: 0;
    left: 0;
}
.single-chart1{
    font-weight: bolder;
    font-size: 7rem;
    line-height: 1;
    margin: 0 0.1rem;
}

.single-chart2{
    color: red;
    font-weight: bolder;
    font-size: 7rem;
    line-height: 1;
    margin: 0 0.1rem;

}
.uno{
    display: flex;
}
.dos{
    display: flex;
}



/* -----------PRUEBA---------- */
.texture{
    background-image: url(./assets/images/icons/texture-dark.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-bars{
    z-index: 13;
    overflow: hidden;
    /* height: 100vh;
    width: 100%; */
}
.back-bar1{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 0;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
}
.back-bar2{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 20%;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
    }
.back-bar3{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 40%;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
}
.back-bar4{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 60%;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
}
.back-bar5{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 80%;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
}


/* ------------PRELOADER STYLES------------------- */

.preloader{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-image: url("./assets/images/icons/texture-dark.jpg");
    z-index: 12;
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./assets/images/pics/background-navbar3.avif");
    background-position: center;
    background-size: cover;
    z-index: 10;
}
.preload{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.preload p{
    width: 400px;
}
.pre1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pre2{
    font-family: 'Times New Roman', Times, serif;
}
.pre3{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    width: fit-content;
}
.pre3 p{
    color: black;
    margin: 0;
}
.pre4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pre5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    width: fit-content;
}
.pre5 p{
    color: black;
    margin: 0;
}

.pre6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pre7{
    font-family: fantasy;
}
.pre8{
    font-family: sans-serif;
    color: black;
    background-color: white;
    width: fit-content;
}
.pre8 p{
    color: black;
    margin: 0;
}

.pre9{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pre10{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* -------------------SECTION 1------------------------- */

/* .section1{
    background-image: url(./assets/images/icons/texture-dark.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.section1{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(./assets/images/icons/texture-dark.jpg);
    background-position: center;
    background-size: cover;
}

/* .section{
    z-index: 1;
} */
#myVideo {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; */
    
    
    
    
    
    
    /* right: 0;
    bottom: 0; */
    /* width: 100%; */
    /* top: 0;
    left: 0; */
    /* min-height: 100vh; */
}
@media(min-aspect-ratio: 16/9){
    #myVideo{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    #myVideo{
        width: auto;
        height: 100%;
    }
}
#myVideo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    /* overflow: hidden; */
    /* -webkit-clip-path: polygon(15% 0, 56% 0, 80% 15%, 100% 100%, 24% 100%, 0 83%); */
    clip-path: polygon(50% 0, 80% 0, 65% 85%, 50% 100%, 20% 100%, 35% 15%);
    z-index: 1;
}
.patomau-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.patomau-wrapper{
    display: flex;
    font-size: 12rem;
    /* font-weight: 400; */
    /* text-shadow: -3px 3px 4px rgba(0, 0, 0, 0.76); */
    /* text-shadow: -8px 6px 3px rgba(0, 0, 0, 0.76); */
}
.pato{
    display: flex;
    overflow: hidden;
    position: relative;
    /* text-stroke: 2px white; */
}
.pato2{
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 5;
    -webkit-text-stroke: 1px white;
}
.stroke{
    color: transparent;
    margin: 0 .6rem;
    /* font-weight: 600; */
}
.show{
    margin: 0 .6rem;
}



/* ----------------SECTION 2--------------------------- */

.section2{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/images/icons/texture-dark.jpg);
    background-position: center;
    background-size: cover;

}

