*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
@font-face {
    font-family: Bulevar;
    src: url(./assets/fonts/Bulevar-font-desktop/Bulevar-Regular.otf) format('truetype');
}

body{
    visibility: hidden;
    font-family: Bulevar;
    background-image: url("./assets/images/icons/texture-dark.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
}
.icon-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 14;
}
.logo{
    width: 4.5rem;
}
.bars-menu{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.bar{
    
    width: 1.5rem;
    height: 0.1rem;
    border-radius: 0.5rem;
    background-image: url(./assets/images/icons/texture-dark.jpg);
    position: absolute;
}
.bars-menu div:nth-child(1){
    top:18px;
    left: 12px;
}
.bars-menu div:nth-child(2){
    top:23px;
    left: 12px;
    opacity:1;
}
.bars-menu div:nth-child(3){
    top:28px;
    left: 12px;
}



/* -------------PRUEBA DE NAVBAR--------------------- */
.navbar-row{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 6rem;
    display: none;
    /* opacity: 0; */
    visibility: hidden;
    z-index: 12;
    margin: 0;
}
.navbar-bg{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background-image: url(./assets/images/icons/texture-dark.jpg);
    
}
.navbar{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    padding: 0;
    display: none;
}
.nav-open{
    display: flex;
}
.nav-list{
    display: inline-block;
}
.nav-list li{
    list-style: none;
    display: inline-block;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}


/* --------------- imagenes del navbar----------------------- */
.pictures{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pictures-container{
    position: relative;
}
.pic-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pic-size{
    width: 18rem;
    border-radius: 0.7rem;
    border: solid 2px black;
}
.pic1{
    transform: rotate(5deg);
}
.pic2{
    transform: rotate(-3deg);
}
.pic3{
    transform: rotate(5deg);
}
.pic4{
    transform: rotate(-3deg);
}
.text-color-active{
    color: #3D3D3D;
}

/* --------------- texto del navbar----------------------- */
/* .nav-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.words{
    position: relative;
    display: inline-block;

}
.nav-list ul{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.single-word{
    display: flex;
    overflow: hidden;
}
/* .first-word{
    margin-bottom: 0.2rem;
} */
.second-word{
    position: absolute;
    top: 0;
    left: 0;
}
.single-chart1{
    font-weight: bolder;
    font-size: 7rem;
    line-height: 1;
    margin: 0 0.1rem;
}

.single-chart2{
    color: red;
    font-weight: bolder;
    font-size: 7rem;
    line-height: 1;
    margin: 0 0.1rem;

}
.uno{
    display: flex;
}
.dos{
    display: flex;
}



/* -----------PRUEBA---------- */
.texture{
    background-image: url("./assets/images/icons/texture-dark.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-bars{
    z-index: 13;
    overflow: hidden;
    /* height: 100vh;
    width: 100%; */
}
.back-bar1{
    width: 20vw;
    height: 100vh;
    /* background-color: red; */
    position: absolute;
    left: 0;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
}
.back-bar2{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 20%;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
    }
.back-bar3{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 40%;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
}
.back-bar4{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 60%;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
}
.back-bar5{
    width: 20vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 80%;
    top: 100%;
    background-image: url("./assets/images/pics/background-navbar.avif");
    background-attachment: fixed;
    /* display: inline-block; */
    background-size: cover;
    background-position: center;
}


/* ------------PRELOADER STYLES------------------- */

.preloader{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    background-image: url("./assets/images/icons/texture-dark.jpg");
    z-index: 12;
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./assets/images/pics/background-navbar5.avif");
    background-position: center;
    background-size: cover;
    z-index: 10;
}
.preload{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
.preload p{
    width: 400px;
    display: inline-block;
}
.pre1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pre2{
    font-family: 'Times New Roman', Times, serif;
}
.pre3{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    width: fit-content;
    display: inline-block;
}
.pre3 p{
    color: black;
    margin: 0;
}
.pre4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pre5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    width: fit-content;
    display: inline-block;

}
.pre5 p{
    color: black;
    margin: 0;
}

.pre6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pre7{
    font-family: fantasy;
}
.pre8{
    font-family: sans-serif;
    color: black;
    background-color: white;
    width: fit-content;
    display: inline-block;

}
.pre8 p{
    color: black;
    margin: 0;
}

.pre9{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pre10{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* -------------------SECTION 1------------------------- */

/* .section1{
    background-image: url(./assets/images/icons/texture-dark.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.section1{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(./assets/images/icons/texture-dark.jpg);
    background-position: center;
    background-size: cover;
}

/* .section{
    z-index: 1;
} */
#myVideo {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; */
    
    
    
    
    
    
    /* right: 0;
    bottom: 0; */
    /* width: 100%; */
    /* top: 0;
    left: 0; */
    /* min-height: 100vh; */
}
@media(min-aspect-ratio: 16/9){
    #myVideo{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    #myVideo{
        width: auto;
        height: 100%;
    }
}
#myVideo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    /* overflow: hidden; */
    /* -webkit-clip-path: polygon(15% 0, 56% 0, 80% 15%, 100% 100%, 24% 100%, 0 83%); */
    clip-path: polygon(50% 0, 80% 0, 65% 85%, 50% 100%, 20% 100%, 35% 15%);
    z-index: 1;
}
.patomau-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.patomau-wrapper{
    display: flex;
    font-size: 12rem;
    /* font-weight: 400; */
    /* text-shadow: -3px 3px 4px rgba(0, 0, 0, 0.76); */
    /* text-shadow: -8px 6px 3px rgba(0, 0, 0, 0.76); */
}
.pato{
    display: flex;
    overflow: hidden;
    position: relative;
    /* text-stroke: 2px white; */
}
.pato2{
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 5;
    /* color: white; */
    /* -webkit-text-stroke: 1px white; */
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.pato3{
    display: none;
}
.pato4{
    display: none;
}
.stroke{
    color: transparent;
    margin: 0 .6rem;
    color: white;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    /* font-weight: 600; */
}
.show{
    margin: 0 .6rem;
}
.stroke2{
    color: transparent;
    margin: 0 .6rem;
    /* font-weight: 600; */
}
.show2{
    margin: 0 .6rem;
}


/* ----------------SECTION 2--------------------------- */

.section2{
    width: 100%;
    height: 100vh;
    
}
.section2-container{
    margin-top: 5rem;
}
.container-imagen-bebu{
    /* width: 7rem; */
    position: absolute;
    /* width: 10%; */
    width: 150px;
    height: 200px;
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 10%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: 0.5rem;
}
.about-title{
    padding: 2.5rem 0 0 2rem;
    position: relative;
    display: inline-block;
    
}
.about-title h2{
    font-size: 8rem;
    font-weight: 400;
    line-height: 0.8;
    display: inline-block;
    margin: 0;

}
.about-description{
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
}
.about-description h4{
    font-size: 1.8rem;
}
.about-svg{
    display: flex;
    justify-content: end;
    align-items: start;
}
.lineaSVG{
    width: 20rem;
    object-fit: contain;
}
.linea{
    width: 15rem;
}





/* -------------------- RESPONSIVE ------------------------ */

@media(max-width: 1200px){
    .patomau-wrapper{
        font-size: 10rem;
    }
    #myVideo2 {
        width: 70%;
    }
}
@media(max-width: 992px){
    .patomau-wrapper{
        font-size: 7rem;
    }
    #myVideo2 {
        width: 90%;
    }
    .about-title h2{
        font-size: 6.5rem;
    }
    .about-description h4{
        font-size: 1.5rem;
    }
    .lineaSVG{
        width: 15rem;
        object-fit: contain;
    }
    
    .linea{
        width: 10rem;
    }
    
}

@media(max-width: 768px){
    .patomau-wrapper{
        font-size: 12rem;
    }
    #myVideo2 {
        width: 100%;
    }
    .pato{
        display: none;
    }
    .pato2{
        display: none;
    }
    .pato3{
        display: flex;
        overflow: hidden;
        position: relative;
        /* text-stroke: 2px white; */
    }
    .pato4{
        position: absolute;
        display: flex;
        overflow: hidden;
        z-index: 5;
        -webkit-text-stroke: 1px white;
    }
    .pictures{
        display: none;
    }
    .nav-list-container{
        display: flex;
        justify-content: center;
    }
    .about-title{
        padding-bottom: 2rem ;
    }
    .about-svg{
        justify-content: center;
        align-items: center;
        transform: rotate(15deg);
        width: 95%;
    }
    .lineaSVG{
        width: 12rem;
        object-fit: contain;
    }
}

@media(max-width: 576px){
    .patomau-wrapper{
        font-size: 8rem;
    }
    .section2-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-title{
        padding-left: 0 ;
    }
    .about-title h2{
        font-size: 5.5rem;
    }
    .about-description h4{
        font-size: 1.5rem;
    }
    .lineaSVG{
        width: 12rem;
    }
    

}

@media(max-width: 420px){
    .logo{
        width: 3.7rem;
    }
    .patomau-wrapper{
        font-size: 7.2rem;
    }
    #myVideo2 {
        width: 38rem;
    }
    .nav-list{
        display: flex;
        align-items: center;
    }
}

@media(max-width: 360px){
    .preload{
        font-size: 2rem;
    }
    .preload p{
        width: 300px;
    }
    .nav-list ul{
        padding: 0;
        margin-top: -4rem;
    }
    .single-chart1{
        font-size: 5rem;
    }
    
    .single-chart2{
        font-size: 5rem;
    
    }
    .patomau-wrapper{
        font-size: 6rem;
    }
    #myVideo2 {
        width: 35rem;
    }
    .nav-list{
        display: flex;
        align-items: center;
    }
    .about-title h2{
        font-size: 5rem;
    }

}
